body{
    margin: 0;
    padding: 0;
    font-size: 16px;
}

header{
    background-color: black;
    display: flex;
}

main{
    display: flex;
    width: 90%;
    flex-direction: column;
    margin: auto;
}

table{
    border-collapse: collapse;
    width: 100%;
}

th, td{
    padding: 10px;
    border: 1px solid black;
}

a{
    text-decoration: none;
}

input, select{
    margin: 20px;
}

form{
    display: flex;
    flex-direction: column;
    width: 500px;
}

.fix, .percent{
    display: none;
}

.selected{
    display: block;
}

.add_button,
.back-button{
    padding: 20px;
    font-size: 20px;
}

.nav-item{
    padding: 20px;
    font-size: 20px;
    color: darkorange;
}

.error-message{
    font-size: 14px;
    font-style: italic;
    color: red;
}

.buttons-block{
    display: flex;
    flex-direction: row;
}
